.container{
    display: grid;
    background-color: #800c13;
    grid-template-rows: 100px 50px minmax(200px, auto); /*100vh could also be used instead of minmax. 100vh means 100% of vertical space*/
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.banner{
    position: sticky;
    top: 0;
    grid-row: 1 / 2;
    grid-column: 1 / 6;
    background-color: yellow;
}

.linkMenu{
    grid-row: 2 / 3;
    grid-column: 1 / 6;
    background-color: aqua;
}

.leftPane{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    background-color: aquamarine;
}

.main{
    grid-row: 3;
    grid-column: 2 / 6;
    background-color: burlywood;
}